body{
	font-size: 16px;
	  background: url("../images/stadium1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.panel-success{
	border-width: 5px;
}

.panel-heading{
	font-size: 26px;
}

#spaces{
	font-size: 30px;
}

.rock-salt{
font-family: 'Rock Salt', cursive;
}

.luckiest-guy{
font-family: 'Luckiest Guy', cursive;
}
.cabin-sketch{

font-family: 'Cabin Sketch', cursive;

}

#result{
font-size: 45px;


